main-color            = #bbb
panel-back            = #1f1f1f
hover-color           = blue
highlight-color       = #6ae
highlight-back        = #000
active-color          = #ea6
delete-color          = red
old-color             = #676
inputs-back           = #262626
tag-button-color      = #999
new-feed-color        = flashyblue
menu-back             = #1c1c1c
main-back             = #2a2a2a
link-description-back = #262626
btn-color             = lightblue


#content
    padding: 0

    .contents
        display: table-row
        margin-top: 1em
        width: 100%

    input
        background: inputs-back
        border-color: inputs-back
        margin: 0 1em
        color: main-color

    .panel
        border: panel-back
        background: main-color
    .panel-heading
        background: panel-back
        border: panel-back
        color: main-color
        .panel-title
            font-weight: bold
            font-size: 2em
    .panel-body
        background: panel-back
        color: main-color

    button
        border: none
        font-size: 2em

    .buttons
        white-space: nowrap

    button.btn
        transition: 0.2s all linear

    .btn
        color: btn-color
        &:hover
            color: hover-color
        &.menu-new
            color: new-feed-color

    .options
        .buttons
            .btn
                margin: 0
                padding: .1em
                font-size: 1.5em
                &:hover
                    color: hover-color
        .settings
            input
                width: 20em
                &[type=checkbox]
                    width: 1.5em
                    margin-left: -2em
                    height: 1.5em
            label
                padding-left: 3em

     .help
        overflow: visible
        h3
            padding: 1em
            background: highlight-back
        h4, h5
            padding: 1em
            color: highlight-color
            background: main-back
        p
            padding: 1em
            background: main-back

     .panel.settings, .panel.new-feed, div.help
        display: none

    .menu
        display: table-cell
        padding: 0 2px
        border: 0
        min-width: 200px
        max-width: 300px
        vertical-align: top
        background: menu-back
        
        .menu-buttons
            white-space: nowrap
            

    .main
        display: table-cell
        width: 100%
        margin: 0
        padding: 0
        border: 0
        background: main-back


    .tag
        cursor: pointer

        &.hover
            background: highlight-back

        &.show
            .feed
                display: block

        button
            padding: .25em
            border: none
            vertical-align: middle
            font-size: 1em
            color: tag-button-color

            &:hover
                color: highlight-color

    .tag-header
        padding: 5px
        white-space: nowrap
    

    .tag-actions
        white-space: nowrap

    .feed
        display: none
        cursor: pointer
        padding: .5em
        white-space: nowrap
        font-family: title
        font-weight: bold
        overflow: hidden
        text-overflow: ellipsis
        color: main-color

        .feed-spinner 
            display: none

        .feed-delete
            visibility: hidden
            color: delete-color

        &:hover
            color: highlight-color
            background-color: highlight-back
            .feed-delete
                visibility: visible

        &.loading
            .feed-spinner
                display: inline
            .feed-delete
                display: none

        &.showing 
            background-color: highlight-back
            color: active-color

        &.to-delete
            color: delete-color
            .feed-count
                color: delete-color

    .feed-count
        color: highlight-color
        padding-left: .2em

    .feed-title
        color: inherit
        margin: 0 .3em
        vertical-align: top
        text-decoration: none


    ul.links
        padding: 20px 0
        margin-top: 1em
        width: 100%
        list-style: none
        vertical-align: top
        background: #232323

        > li
            padding: 10px
            margin: 0 0px 10px 0px
            width: 100%
            cursor: pointer

            &:hover
                background: highlight-back

            button, a
                padding: 0 5px
                border: none
                font-size: 20px
                line-height: 28px

                &:hover
                    color: highlight-color

            button
                transition: 0.2s all linear

            &.link-new
                :visited
                    color: active-color

                :visited
                    &:hover
                        color: highlight-color

            &.link-old
                display: none
                a, .btn
                    color: old-color
                    opacity: 0.8
                    text-decoration: none

                :visited
                    color: active-color

                :visited
                    &:hover
                        color: highlight-color
        &.show-old
            > li.link-old
                display: list-item

    .link-active
        color: main-color

    .link-buttons
        display: inline-block
        padding-right: .5em
        white-space: nowrap
        height: 100%
        color: main-color
        vertical-align: top

        .btn
            color: main-color
            border: none
            width: auto
            a
                padding: 0

    .link-description
        display: none
        margin: .5em 1em
        color: highlight-back
        border-radius: 4px
        color: main-color
        background: link-description-back
        padding: 1em
        opacity: 0.7
        max-width: 800px
        font-size: 16px
        font-family: title
        *
            font-size: 16px
        p
            padding: 10px
        li
            margin-bottom: 0


    .feeds
        padding-top: 20px  

    .import
        cursor: pointer
        position: absolute
        top: 1.5em
        right: 1.5em
        .import-failed
            padding: 0
            margin: 0
        .imported
            padding: 0
            margin: 0

#feeds-file
    display: none
