@import 'nib'

main-background = #41454d
main-color = #fff
panel-background = #41454d
panel-color = #c6c6c6
menu-color = #d4cfc7
menu-border-color = #95b935
menu-background = #616167
del-color = #d66
title-color = #c3beb8
title-highlight = #fff
count-color = #58493e
count-background = #95b935
button-background = #d4cfc7
button-color = #616164
link-background = #6d6d71
link-color = #d4cfc7
link-hover-background = #89878b
link-hover-color = #fff
link-active-background = #2c2f39
link-active-color = #838181
link-active-title-color = #a6d130
link-old-color = #a4a2a8
link-old-background = #61626c
tip-background = #6d6d72
tip-color = #cec9c2
tip-question-background = #5a5a61
tip-question-color = #d4cfc7
link-visited-color = #95b935
input-background = #6d6d72 
input-color = #cec9c2 
welcome-background = #5a5a61
welcome-color = #d4cfc7

light-main-background = #ecebe9
light-main-color = #58493e
light-panel-background = #ecebe9
light-panel-color = #676766
light-menu-color = #58493e
light-menu-border-color = #f26522
light-menu-background = #d9d6d2
light-del-color = #d66
light-title-color = #58493e
light-title-highlight = #72675e
light-count-color = #fff
light-count-background = #f26522
light-button-background = #58493e
light-button-color = #fff
light-link-background = #f1f1ee
light-link-color = #7b7b7b
light-link-hover-background = #d9d6d2
light-link-hover-color = #534f4c
light-link-active-background = #f6f5f3
light-link-active-color = #676766
light-link-active-title-color = #f26522
light-link-old-color = #918983
light-link-old-background = #e6e4e3
light-tip-background = #f6f5f3
light-tip-color = #888786
light-tip-question-background = #e6e4e3
light-tip-question-color = #323232
light-link-visited-color = #f26522
light-welcome-background = #e6e4e3
light-welcome-color = #323232


body
    color: main-color
    background: main-background
    font-family: "Open Sans", sans-serif

#menu
    color: menu-color
    background: menu-background

    .menu-button
        color: menu-color
        &:hover
            background: panel-background
            color: main-color
            border-top-color: panel-background
    li
        a
            border-top-color: menu-background
        &.active
            a
                border-top-color: menu-border-color
                background: panel-background
                color: main-color
                &:hover
                    border-top-color: menu-border-color

#panel-main
    color: panel-color
    background: panel-background

    .btn-invert
        background: button-color
        color: button-background
        &:hover
            background: button-background
            color: button-color
    .btn-default
        background: button-background
        color: button-color
        &:hover
            background: button-color
            color: button-background

#panel-feeds
    padding-bottom: 2em
    .tag
        &.tag-open
            color: title-highlight
        &.tag-close
            color: title-color
    .feed
        color: title-color
        .label
            background: count-background
            color: count-color
        &:hover
            color: title-highlight
        &.feed-open
            color: title-highlight
        a
            color: inherit
        .feed-delete
            font-weight: bolder
            color: del-color
        &.feed-to-delete
            color: del-color

#panel-welcome
    .welcome-message
        background: welcome-background
        color: welcome-color

#panel-links
    .panel
        background: inherit
        color: inherit
    .panel-heading
        background: inherit
        color: inherit
    .panel-body
        color: inherit
        background: inherit
        a
            color: link-active-title-color
        *
            color: inherit
    .panel-footer
        color: inherit
        background: inherit
    .link
        background: link-background
        color: link-color
        .panel-heading
            > a
                color: inherit
        .link-title
            a:visited
                color: link-visited-color
        &:hover
            background: link-hover-background
            color: link-hover-color
        &.link-old
            background: link-old-background
            color: link-old-color
        &.link-active
            background: link-active-background
            color: link-active-color
            .panel-heading
                color: link-active-title-color

#panel-add-feeds
    input
        background: input-background
        border: input-background
        color: input-color
        box-shadow: none

#panel-help
    a
        color: link-color

.panel-tips
    font-size: 14px

#tips
    color: panel-color

#tip-of-the-day
    p
        background: tip-background
        color: tip-color

#tip-questions
    background: tip-question-background
    color: tip-question-color

#tip-issues
    background: tip-question-background
    color: tip-question-color

 
body.use-light-colors
    color: light-main-color
    background: light-main-background

    #menu
        color: light-menu-color
        background: light-menu-background

        .menu-button
            color: light-menu-color
            &:hover
                background: light-panel-background
                color: light-main-color
        li
            &.active
                a
                    border-top-color: light-menu-border-color
                    background: light-panel-background
                    color: light-main-color

    #panel-main
        color: light-panel-color
        background: light-panel-background

        .btn-invert
            background: light-button-color
            color: light-button-background
            &:hover
                background: light-button-background
                color: light-button-color
        .btn-default
            background: light-button-background
            color: light-button-color
            &:hover
                background: light-button-color
                color: light-button-background

    #panel-feeds
        .tag
            &.tag-open
                color: light-title-highlight
            &.tag-close
                color: light-title-color
        .feed
            color: light-title-color
            .label
                background: light-count-background
                color: light-count-color
            &:hover
                color: light-title-highlight
            &.feed-open
                color: light-title-highlight
            a
                color: inherit
            .feed-delete
                color: light-del-color
            &.feed-to-delete
                color: light-del-color

    #panel-links
        .panel
            background: inherit
            color: inherit
        .panel-heading
            background: inherit
            color: inherit
        .panel-body
            color: inherit
            background: inherit
            a
                color: light-link-active-title-color
            *
                color: inherit
        .panel-footer
            color: inherit
            background: inherit
        .link
            background: light-link-background
            color: light-link-color
            .panel-heading
                > a
                    color: inherit
            .link-title
                a:visited
                    color: light-link-visited-color
            &:hover
                background: light-link-hover-background
                color: light-link-hover-color
            &.link-old
                background: light-link-old-background
                color: light-link-old-color
            &.link-active
                background: light-link-active-background
                color: light-link-active-color
                .panel-heading
                    color: light-link-active-title-color
                    
    #panel-help
        a
            color: light-link-color

    #tips
        color: light-panel-color

    #tip-of-the-day
        p
            background: light-tip-background
            color: light-tip-color

    #tip-questions
        background: light-tip-question-background
        color: light-tip-question-color

    #tip-issues
        background: light-tip-question-background
        color: light-tip-question-color

    #panel-welcome
        .welcome-message
            background: light-welcome-background
            color: light-welcome-color

 
html
    height: 100%

.row
    margin: 0

body
    height: 100%

    &.show-old-links 
        #panel-links .link.link-old
            display: list-item

#content
    height: 100%

#menu
    margin: 0 0 2em 0

    .nav-tabs
        border: none
    .menu-button
        padding: 1em
        font-size: 1.5em 
        font-weight: bold
        text-align: center
        cursor: pointer
    li
        width: auto
        margin-right: -1px
        margin-left: -1px
        padding-right: 0
        padding-left: 0
        &#menu-tabs-welcome
            display: none

        white-space: nowrap
        a
            border-width: 0
            border-radius: 0
            border-top-width: 5px 
            span 
                margin-right: .4em
                font-size: 1.2em
                vertical-align: sub
        &#menu-tabs-help
            text-align: right
            a
                display: inline-block

#panels
    height: 100%

#panel-main
    height: 100%

    h1
        font-size: 2em
        font-weight: bolder
        margin-top: 0
        margin-bottom: .5em

    .btn
        font-weight: bolder
        font-size: 1.5em
        text-shadow: none
        white-space: normal
        span
            margin-right: .25em

#panel-feeds
    .tag
        padding-left: .5em
        &.tag-open
            .glyphicon-chevron-right
                display: none
        &.tag-close
            .glyphicon-chevron-down
            .tag-feeds
            .tag-refresh
                display: none
        .tag-title
            font-size: 1.25em
            cursor: pointer
            > div
                display: inline
        .tag-name
            margin: .25em
            font-size: 1.5em
        .tag-refresh
            padding-left: 1em
    .feed
        font-size: 1.5em
        cursor: pointer

        .feed-infos
            display: inline-block
            white-space: nowrap
        .feed-title
            vertical-align: text-top
            display: inline-block
            width: 65%
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
        .label
            padding: .05em .4em

        .feed-infos
            > div
                display: inline
                margin: .2em

            .feed-spinner
                display: none
        .feed-delete
            visibility: hidden
        &:hover
            .feed-delete
                visibility: visible
        &.feed-loading
            .feed-spinner
                display: inline
            .feed-count
                display: none
        &.feed-open
            font-weight: bolder
        a
            text-decoration: none
        .feed-delete
            font-weight: bolder

#panel-welcome
    .welcome-title
        text-align: center
        font-size: 4em
        p
            display: inline
            font-size: .8em
    .welcome-message
        font-size: 2em
        padding: 1em 1.5em
        margin: 0 2em
        .welcome-start
            font-size: 1.5em
    .poulpe
        height: 2em
        margin: 0 1em 0 0
    .btn
        font-size: .8em
        margin: 2em 1em
    .welcome-actions
        text-align: center


#panel-links
    .links-title
        h1
            display: inline-block
            padding-right: 1em
        h3
            font-style: italic
            display: inline-block
    .links
        list-style: none

    .panel
        border: none
        padding: .5em
        margin: 0
        font-size: 2em
    .panel-heading
        border: none
        h3
            font-size: 1em
    .panel-body
        display: none
    .panel-footer
        display: none
    .link
        padding: 0
        margin: 3px
        cursor: pointer
        .panel-heading
            h3
                width: 95%
                display: inline-block
            > a
                vertical-align: top
                width: 5%
                display: none !important
                text-decoration: none
                &:hover
                    opacity: .8
            &:hover
                a
                    display: inline-block !important
        &.link-old
            display: none
        &.link-active
            .panel-body
                display: block
            .panel-footer
                border: none
                display: block
                .btn
                    font-size: 1em
                    margin-right: 1em

#panel-add-feeds
    padding-left: 1.5em
    font-size: 1.25em
    .form-group
        margin-bottom: 2em
    input
        height: 2em
        font-size: 1.5em
        width: 80%

#panel-settings
    padding-left: 1.5em
    font-size: 1.25em
    .checkbox
        margin-top: 1em
        font-size: 1.25em

#panel-help
    font-size: 1.25em
    h5
        font-weight: bolder
    h3
        font-style: italic
    p
        font-weight: bolder
    a
        text-decoration: underline

#tips
    height: 100%

#tip-of-the-day
#tip-questions
#tip-issues
    margin: 0 1em 2em 1em
    font-size: 1.2em

    p
        padding: 1em

    .tip-title
        .poulpe
            height: 3em
        font-weight: bolder
        font-size: 1.2em
        padding: 1em 1em 0 1em

    a
        color: inherit
        text-decoration: underline

#tip-of-the-day
    .tip-title
        padding: .5em 0

#panel-import-export
    form
        padding-bottom: 2em

#content 
    .fa-twitter
    [href^="https://twitter.com/intent/tweet?"]
        display: none !important
.use-twitter 
    #content
        .fa-twitter
        [href^="https://twitter.com/intent/tweet?"]
            display: initial !important
