@import 'nib'

main-background = #5d5d5d
main-color = #fff
panel-background = #232323
panel-color = #c6c6c6
menu-color = #83dcff
del-color = #d66

html
    height: 100%

body
    color: main-color
    background: main-background
    height: 100%

#content
    height: 100%


#menu
    color: menu-color
    margin: 0

    .nav-tabs
        border: none
    .menu-button
        padding: 1em
        color: menu-color
        font-size: 1.5em 
        font-weight: bold
        text-align: center
        cursor: pointer
        &:hover
            background: panel-background
            color: main-color
    li
        display: table-cell
        width: auto
        white-space: nowrap
        float: none
        a
            border: none
            span 
                margin-right: .25em
        &.active
            a
                background: panel-background
                color: main-color
        &#menu-tabs-help
            width: 100%
            a
                text-align: right

#panels
    height: 100%

#panel-main
    color: panel-color
    background: panel-background
    height: 100%

    h1
        font-size: 2em
        font-weight: bolder
        margin-bottom: 1.5em

#panel-feeds
    .tag
        &.tag-open
            .glyphicon-triangle-right
                display: none
        &.tag-close
            .glyphicon-triangle-bottom
            .tag-feeds
            .tag-refresh
                display: none
        .tag-title
            font-size: 1.5em
            color: menu-color
            cursor: pointer
            > div
                display: inline
        .tag-name
            margin: .25em
            font-size: 1.5em
    .feed
        font-size: 1.5em
        cursor: pointer

        .label
            background: menu-color
            color: panel-background
            padding: .1em .4em

        > div
            display: inline
            margin: .2em

        .feed-delete
            font-weight: bolder
            color: del-color
        &.to-delete
            color: del-color

        .feed-spinner
        .feed-delete
            visibility: hidden
        &:hover
            .feed-delete
                visibility: visible
        &.loading
            .feed-spinner
                visibility: visible

#panel-add-feeds
    padding-top: .5em
    padding-left: 1.5em
    font-size: 1.25em
    .form-group
        margin-bottom: 2em
    input
        height: 2em
        font-size: 1.5em
        width: 50%
    .btn-default
        background: menu-color
        font-size: 1.5em
        font-weight: bolder
        span
            margin-right: .25em

#tips
    height: 100%
    color: panel-color
    background: panel-background

