.tip-of-the-day
    .tip-title
        img.poulpe(alt="poulpe", src="images/poulpe.svg")
        =t("panelTips tip of the day")
    p=t("panelTips display old links")

.tip-questions
    .tip-title=t("panelTips any question")
    p=t("panelTips visit help")
