h1.welcome-title
    img.poulpe(alt="poulpe", src="images/poulpe.svg")
    p t("welcome-to-zero-feeds")

.welcome-message
    p t("welcome-message")
    p.welcome-start t("start-now")
    .welcome-actions
        .welcome-add-feed(class="btn btn-default") t("add-first-feed")
        .welcome-add-feeds(class="btn btn-invert") t("import-opml")
