h1 Help
    h3 How does it work? 
    p This is a tool to follow your rss/atom feeds without to much procrastinating.
    p 
        | The idea behind zero-feeds is that if you do not read a link when you discover it, most of the time, it means that you are not so much interested in it (it's an "opinionated" feeds reader). So read it now or forget it. 
    p
        | In usual feed readers, the links are availables as long as they are provided by the websites, so you will first read what matters, then what looks interesing, then this stuff that is maybe the thing to read, then what is left, oh it's time to go to lunch ! No. I do not like this way of procrastination, so do not expect zero-feeds to help you to do that. 

    h3 Will you miss the news of the year ? 
    p
        | No, if you did not click on it, you will hear about it from others. So what are you afraid to miss ? A good link ? Yes probably, but do not worry, there will be another good link tomorow.
    h3 Does it scale for my 6000 feeds ? 
    p
        | Seriously ? Reduce your amount of sites you follow, you have better to do today than reading all of them.
    h3 How do I start ? 
    p 
        | Probably by adding a feed (check the tabs, I'm sure you can find where to do that).
    h3 I'm not sure, how to add a feed ? 
    p 
        | Just click on the top "Add Feeds" button, fill the url and tags fields and click on the "Add Feed" button right next to the tags field (or hit the enter key in one of the fields).
        | The tags and the feed url should appear in the left panel.
    h3 I want to change the tags of a feed, or I mistyped the url, how can I edit my feed ?
    p
        | Pass the mouse on the feed title and click on cross on left of the feed, don't worry, your feed will be removed, but the "Add Feed" form will be filled with its url and tags. Change what is wrong and add the feed again.
    h3 I just see the beginning of the url of my feed, I feel unsatisfied.
    p
        | Now click on it. The title of this feed should replace its url and the link of this feed should be displayed.
    h3 What are these "tags" ?
    p
        | They will be used to classify your feeds in the left panel.
        | A click on a tag name will display all feeds tagged with it
    h3 I don't want to reload all the feeds of a tag.
    p
        | Like me. So, just click on the tag name in the left panel, all feeds will be displayed, then click on the feed title you want to reload.
    h3 The first time I clicked on a feed, the links of this feed have been displayed, now I clicked several times and there is no more links !
    p
        | You just need to click once. In fact, "reloading" a feed aims to display the new links of this feed since the last time you did reload it. So if you see nothing, it means that there is no new link to help you to procrastinate.
    h3 I didn't visit all the links of a feed and I "reloaded" it, are the "old" links lost ?
    p
        | No, click on the "Settings" button at the top and check the "Show new and old links" checkbox, they should appear. 
    h3 In this "Settings" panel, there is a field called "Use quickmarks app to save links", what is it ?
    p 
        | You are curious, isn't it ? I like you. So, install the Quickmarks app that you can find in the Cozy Store
        | Then you should see a "send to quickmarks" button on the left of the feed links, click on it, and this link will be added to your bookmarks in the quickmarks app.
        | This is a perfect world, but this feature is not implemented yet
    h3 It still doesn't work !
    p 
        | Please 
        a(href="https://github.com/pierrerousseau/zero-feeds/issues", target="_blank") add an issue
        |  and help me to help you.
    h3 I want to use only free softwares.
    p 
        a(href="https://github.com/pierrerousseau/zero-feeds", target="_blank") Me too
        | . 
        |  I'm not sure what licence I can use for a cozycloud app but you can consider my code under 
        a(href="https://en.wikipedia.org/wiki/WTFPL", target="_blank") WTFPL
        | . 

