#tip-of-the-day
    .tip-title Tip of the day
    p Zero-Feeds displays only the new links from your feeds, if you still want them, there is a parameter to change in the settings panel

#tip-questions
    .tip-title Any question ?
    p Visit the help section to find out how zero-feeds works.

#tip-issues
    .tip-title Report a bug
    p 
        | Please &nbsp;
        a(href="https://github.com/pierrerousseau/zero-feeds/issues", target="_blank") add an issue
        | &nbsp; and help me to help you.

