.tip-issues
    .tip-title=t("help report a bug")
    p
        =t("help please")
        | &nbsp;
        a(href="https://github.com/pierrerousseau/zero-feeds/issues", target="_blank") #{t("help add an issue")}
        | &nbsp;
        =t("help and help me to help you")
