.tip-issues
    .tip-title Report a bug
    p 
        | Please &nbsp;
        a(href="https://github.com/pierrerousseau/zero-feeds/issues", target="_blank") add an issue
        | &nbsp; and help me to help you.

