.tip
    .tip-title
        img.poulpe(alt="poulpe", src="images/poulpe.svg")=t("panelTipsSettings old links")
    p=t("panelTipsSettings old links description")
    p=t("panelTipsSettings old links default behaviour")
    p=t("panelTipsSettings show old links")
