.tip
    .tip-title 
        img.poulpe(alt="poulpe", src="images/poulpe.svg")
        | Follow a new site ?
    p 
        | On your favorite site find the "rss/atom" link.
    p
        | Then, fill the url field with this link 
        | and the tag field with the categories 
        | that you want to associtate to this feed.
    p
        | Then click on the "Add Feed" button right next to the tags field 
        | (or hit the enter key in one of the fields).
    p
        | The tags and the feed url should appear in the left panel.
