h1 Help
    h2 This is a tool to follow your rss/atom feeds without to much procrastination 
    p 
        | The idea behind zero-feeds is that if you do not read a link when you discover it, most of the time, it means that you are not so much interested in it (it's an "opinionated" feeds reader).
    p
        | So read it now or forget it. In usual feed readers, the links stay available as long as they are provided by the websites, so you will first read what matters, then what looks interesing, then this stuff that is maybe the thing to read, then what is left, oh it's time to go to lunch ! No. I do not like this way of procrastination, so do not expect zero-feeds to help you to do that. 

    h3 Will you miss the news of the year ? 
    p
        | No, you will hear about it from others. So what are you afraid to miss ? A good link ? Yes probably, but do not worry, there will be another good link tomorow.
    h3 Does it scale for my 6000 feeds ? 
    p
        | Seriously ? Reduce your amount of link you follow, you have better to do today than reading all of them.
    h3 How do I start ? 
    p 
        | Please put your mouse over the icons that you see, a tooltip should help you.
    h3 I'm not sure, how to add a feed ? 
    p 
        | Just click on the top left "add a feed" button, fill the url and tags fields and click on the "add" button right next to the tags field (or hit the enter key in one of the field).
        | The tags and the feed url should appear in the left panel.
    h3 I want to change the tags of a feed, or I mistyped the url, how can I edit my feed ?
    p
        | Pass the mouse on the feed title and click on cross on left of the feed, don't worry, your feed will be removed, but the "add a tag" form will be filled with its url and tags. Change what is wrong and add the feed again.
    h3 I just see the beginning of the url of my feed, I feel unsatisfied.
    p
        | Now click on it. The title of this feed should replace its url and the link of this feed should be displayed.
    h3 What are these "tags" ?
    p
        | They will be used to classify your feeds in the left panel.
        | A click on a tag name will display all feeds tagged with it
    h3 I don't want to reload all the feeds of a tag.
    p
        | Like me. So, just click on the tag name in the left panel, all feeds will be displayed, then click on the feed title you want to reload.
    h3 The first time I clicked on a feed, the links of this feed have been displayed, now I clicked several times and there is no more links !
    p
        | You just need to click once. In fact, "reloading" a feed aims to display the new links of this feed since the last time you did reload it. So if you see nothing, it means that there is no new link to help you to procrastinate.
    h3 I didn't visit all the links of a feed and I "reloaded" it, are the "old" links lost ?
    p
        | No, click on the "settings" button on the top right and uncheck the "Display only new links" checkbox, they should appear. 
    h3 In this "settings" panel, there is a field called "Cozy bookmarks application name", what is it ?
    p 
        | You are curious, isn't it ? I like you. So, install 
        a(href="https://github.com/Piour/cozy-bookmarks", target="_blank") the cozy bookmarks app
        |  and put there the name you gave to it (usually "bookmarks"). Then you should see a "send to cozy bookmarks" button on the left of the feed links, click on it, and this link will be added to your bookmarks in the cozy-bookmarks app.
    h3 It still doesn't work !
    p 
        | Please 
        a(href="https://github.com/Piour/cozy-feeds/issues", target="_blank") add an issue
        |  and help me to help you.
    h3 I want to use only free softwares.
    p 
        a(href="https://github.com/Piour/cozy-feeds) Me too
        | . 
        |  I'm not sure what licence I can use using cozycloud but you can consider my code under 
        a(href="https://en.wikipedia.org/wiki/WTFPL") WTFPL
        | . 

