.tip
    .tip-title
        img.poulpe(alt="poulpe", src="images/poulpe.svg")
        =t("panelTipsAddFeed follow new site")
    p=t("panelTipsAddFeed find rss/atom link")
    p=t("panelTipsAddFeed fill url and tag")
    p=t("panelTipsAddFeed add feed")
    p=t("panelTipsAddFeed tag and feed in left panel")
