h1 Import

iframe(style="display:none")

form.import(role="form")
    h3 Import opml rss file or html bookmarks file containing feeds and exported from firefox or chrome
    input#import-file(type="file", name="feeds-file", style="display:none")
    button(class="btn btn-default", type="submit") 
           span(class="glyphicon glyphicon-cloud-upload")
           | IMPORT
    .results
        span.import-success(class="label label-success") 0
        span.import-failed(class="label label-danger") 0

h1 Export
form.import(role="form")
    h3 Comming soon ...
