.tag(class="tag-close")
    .tag-title
        .tag-toggle
            span(class="glyphicon glyphicon-chevron-right")
            span(class="glyphicon glyphicon-chevron-down")
        .tag-name #{name}
        .tag-refresh
            span(class="glyphicon glyphicon-refresh")
    .tag-feeds
