div(class="tag #{name}")
    div.tag-header
        span.tag-actions
            button.btn.glyphicon.glyphicon-refresh(
                class="tag-refresh",
                title="reload all feeds"
            )
        button.tag-name #{name}
