.tag(class="tag-close tag-#{name}")
    .tag-title
        .tag-toggle
            span(class="glyphicon glyphicon-chevron-right")
            span(class="glyphicon glyphicon-chevron-down")
        if name == "untagged"
            .tag-name=t("tag untagged")
        else
            .tag-name #{name}
        .tag-refresh
            span(class="glyphicon glyphicon-refresh")
    .tag-feeds
